<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liaozhenbin.mobliesafe"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.IndexActivity"/>
        <activity android:name=".activity.SpeedActivity"/>
        <activity android:name=".activity.ClearStorageActivity"/>
        <activity android:name=".activity.AutoActivity"/>
        <activity android:name=".activity.FLowActivity"/>
        <activity android:name=".activity.HarassActivity"/>
        <activity android:name=".activity.SoftManagerActivity"/>

        <activity android:name=".activity.AppLockActivity"/>
        <activity android:name=".activity.VirusActivity"/>
        <activity android:name=".activity.PermissionActivity"/>
        <activity android:name=".activity.TheftActivity"/>
        <activity android:name=".activity.PrivateActivity"/>
    </application>

</manifest>